
h1{
	background-color: black;
	text-align: center;
	color : white;
}

p{
	background-color: black;
	color : red;
	text-indent: 50px;
	text-align: justify;
	font-size: 18px;

}

h4{
	color: green;
	font-size: 45px;
}

body{
	background-image: url("https://theconversation.com/curious-kids-who-were-the-spartans-108606");
}